# ============================================================
# Order Service
# ============================================================

apiVersion: v1
kind: Service
metadata:
  name: order-service
  namespace: lgtm
  labels:
    app: order-service
spec:
  type: ClusterIP
  selector:
    app: order-service
  ports:
    - port: 8001
      targetPort: 8001
      name: http
