apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: alloy
  namespace: lgtm
  labels:
    app: alloy
spec:
  selector:
    matchLabels:
      app: alloy
  template:
    metadata:
      labels:
        app: alloy
    spec:
      serviceAccountName: alloy
      containers:
        - name: alloy
          image: grafana/alloy:latest
          args:
            - "run"
            - "/etc/alloy/config.alloy"
            - "--server.http.listen-addr=0.0.0.0:9080"
          ports:
            - containerPort: 9080
              name: http
          volumeMounts:
            - name: config
              mountPath: /etc/alloy
            - name: pods-logs
              mountPath: /var/log/pods
              readOnly: true
            - name: kubelet-pods
              mountPath: /var/lib/kubelet/pods
              readOnly: true
          resources:
            requests:
              cpu: 50m
              memory: 64Mi
            limits:
              cpu: 200m
              memory: 256Mi
          securityContext:
            runAsUser: 0
            allowPrivilegeEscalation: false
      tolerations:
        - operator: Exists
      volumes:
        - name: config
          configMap:
            name: alloy-config
        - name: pods-logs
          hostPath:
            path: /var/log/pods
        - name: kubelet-pods
          hostPath:
            path: /var/lib/kubelet/pods
